/*---
title:   Font family
name:    mixin_utility_font_family
section: Mixin
---

Font family utility classes.
*/
@mixin u-font-family($-font, $-font-weight: normal, $-set-weight: true) {
  font-family: unquote(map-get-deep($fonts, $-font, family)) !important;
  @if $-set-weight {
    font-weight: map-get-deep($fonts, $-font, weights, $-font-weight);
  }
}
